.switch {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.option {
    z-index: 2;
    font-size: 0.75rem;
    font-weight: 600;
    width: 50%;
    text-align: center;
    color: var(--text-secondary);
    transition: color 0.3s;
}

.option.active {
    color: #fff;
}

.slider {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background: var(--accent-color);
    border-radius: 16px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.right {
    transform: translateX(100%);
}