.modal {
    background: var(--bg-secondary);
}

.content {
    background: #fff;
    /* Most PDFs look better on white if iframe doesn't fill completely */
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .iframe {
        border-radius: 0;
    }
}
