.placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    flex-direction: column;
    gap: 0.5rem;
    border: 1px dashed rgba(255, 255, 255, 0.1);
}

.icon {
    width: 48px;
    height: 48px;
    opacity: 0.8;
}

.text {
    font-size: 0.8rem;
    opacity: 0.7;
}